/* normalize https://alligator.io/css/minimal-css-reset/ */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 50px;
  text-align: center;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.addRepo {
  display: block;
  background: gray;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
